
* {box-sizing: border-box;}

.content, button, .flight-table-button{
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.company-header-name{
    font-family: 'Srisakdi', cursive;
    font-size: 2em;
    font-weight: bold;
    margin-right: 30px;
}

.header{
    position: relative;
    margin: 0;
    overflow: visible;
    background-color: #fff;
    padding: 5px 5x 5px 5px;
    border-radius: 10px;
    font-size: 1em;
}
.header a{
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  line-height: 2em;
  border-radius: 10px;
}
.header a:hover{
    background-color: #ddd
}
.header-right{
    float: right;
}
.header-left{
    float: left;
}

.header-link{
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 10px;
}



.header-dropbtn{
  border: none;
  cursor: pointer;
  height: inherit;
}

.header-dropdown{
    position: relative;
    display: block;
    height: inherit;
}

.header-dropdown-content{
    display: none;
    position: relative;
    height: inherit;

    background-color: #ddd;
    overflow: visible;
}

.header-dropbtn a{
    transition: padding-left 2s, padding-right 2s;
}

.header-dropdown:hover .header-dropbtn a{
    padding-left: 63px;
    padding-right: 63px;
    background-color: #ddd;
}

.header-dropdown:hover .header-dropdown-content{
    position: absolute;
    display: block;
    right: 0px;
    top: 0px;
    padding: 12px;
    border-radius: 10px;
    margin: 35px 0px;
}


.footer {
    clear: both;
    position: fixed;
    margin: 0 0 0 0;
    overflow: hidden;
    background-color: #ddd;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    font-size: 1em;

    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}


.flight-list{
    text-align: center;
}


.flight-data-header{
    text-align: center;
}




table.flight-table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
tr.flight-table-entry{
    background-color: #ddd;
    padding: 10px;  
    line-height: 3em;
}

tr.flight-table-entry:nth-child(even){
    background-color: #fff;
}

tr.flight-table-entry:hover{
    background-color: #bbb;
}


tr.flight-table-entry td:first-child { 
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}
tr.flight-table-entry td:last-child { 
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
}


div.main-block{
    max-width: 960px;
    /*text-align: center;*/
    /*display: flex;*/
    clear: both;
    margin: 0 auto ;
    float: none;
}
.main-block{
    clear: both;
}

.flight-table-button {
    background-color: #bbb;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
tr:nth-child(even) .flight-table-button{
    background-color: #ddd;
}

tr.flight-table-entry:hover .flight-table-button{
    background-color: #ddd;
}


.flex-container{
    list-style: none;
    display: flex;
    margin-bottom: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flex-item{
    text-align: center;
}

.flight-properties{
    justify-content: space-around;
    flex-wrap: wrap;
}

.flight-property{
    text-align: center;
    background-color: #ddd;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.flight-image-bg{
    max-width: 100%;
    max-height: 100%;
    border: 20px solid #ddd;
    border-radius: 10px;
}

.flight-prop-info{
    background-color: #ddd;
    border-radius: 10px;
    text-align: center; 
    margin: 10px 10px 10px 10px;
    width: auto;
}

.flight-information{
    float: left;
    width: 60%;
}

.flight-images-section{
    float: right;
    width: 40%;
}

.flight-data-form{
    position: relative;
    vertical-align: center;
    display: grid;
    width: max-content;
    text-align: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-color: #ddd;
    grid-gap: 0.3rem;
    border-radius: 10px;
    padding: 0px 50px;
}
.flight-data-form > div{
    border-radius: 10px;
    height: fit-content;
    padding: 10px;
}

.flight-query-child{
    display: inline;
}

.departure-label{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}
.departure-field{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}
.arrival-label{
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}
.arrival-field{
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}
.date-label{
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}
.date-field{
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}
.search-field{
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
    margin-bottom: 10px;
}


.flight-lookup-button{
    padding: 10px 30px;
    width: max-content;
}


.flight-image{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    border: 4px solid black;
    border-radius: 10px;
    transition: transform 1s;   
}

.flight-image:hover{
    transform: scale(1.75);
    z-index: 100;
}

.flight-image-div{
    height: 100%;
}

.flight-data-entry{
    background-color: #ddd;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.flight-weather{
    font-size: 3em;
}


.center-content-fake-flex{ 
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
}

